{% extends "layout.html" %}
{% block content %}
  <form action="/start" method="post">
    <input type="number" name="question_num" min="0" value="0" required/>
    <p><label for="randomflag">問題シャッフルモード</label></p>
    <input type="radio" id="randomflag" name="randomflag" value="on" checked>on
    <input type="radio" id="randomflag" name="randomflag" value="off">off
    <p><label for="viewflag">正解確認モード</label></p>
    <input type="radio" id="viewflag" name="viewflag" value="on">on
    <input type="radio" id="viewflag" name="viewflag" value="off" checked>off<br/>
    <input id="start" type="submit" value="start"/>
  </form>
{% endblock %}
